 :root {
    --purple: hsl(228, 45%, 44%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700 :hsl(0, 0%, 20%) ;
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0 0% 8%);

 }

 * 
 {
    font-family:Inter,sans-serif;
 }

 body {
   background-color: var(--grey-900);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .card {
   margin-block-end:20px;
 }

.content {
   background-color:var(--grey-800);
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   justify-content: center;
}

img 
{
   border-radius: 100px;
   align-self: center;
   margin-block-end: 5px;
}

h1 
{
   color: white;
   padding-top: 4px;
}

h2 
{
   color:var(--green)
}

h3 
{
   color:white;
}

.links
{
   display: flex;
   flex-direction: column;
   flex-grow: inherit;
   /* background-color: red; */
   width: 100%;
   

   /* Add Space between elements */
   
}

.links .clickable 
   {
      background-color: var(--grey-700);
      color:white;
      border-radius: 10px;
      margin: 10px;
      padding:10px;
      text-align: center;
      flex:1;
      /* width: 100%; */
     
   }

 .attribution {
        font-size: 20px;
        text-align: center;
        color: var(--white);
        text-decoration: none;
      }

      .attribution a {
        color: var(--purple);

      }